<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spark</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body> 
        <div class="nav-bar">
          <button onclick="window.location.href='/'">Home</button>
          <button onclick="window.location.href='/create-game'">Create Game</button>
        </div>
        <form id='submit-deck' action="/api/deck" method="post" onsubmit=" return submitDeck(this)">
          
            <label for="deck-name">Deck Name:</label>
            <input type="text" id="deck-name" name="deck_name" required><br>
  
            <label for="deck-score">Score:</label>
            <input type="number" id="deck-score" name="deck_score" required><br>
  
            <input type="submit" value="Submit">
        </form>
        <script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"> </script>
    </body>
</html>