<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spark</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body> 
        <div class="nav-bar">
          <button onclick="window.location.href='/'">Home</button>
          <button onclick="window.location.href='/create-deck'">Create Deck</button>
        </div>
        <form id='submit-game' action="/api/game" method="post">
            <label for="deck-name">Deck</label>
            <select id="deck-selector" name="deck_name">
                {% for deck in decks %}
                <option value="deck-{{deck['deck_id']}}" id="deck-{{deck['deck_id']}}">{{deck['deck_name']}}</option>
                {% endfor %}
            </select>
            <label for="game-record-win" id=>Win:</label>
            <input type="number" id="game-win" name="game_win" required><br>
  
            <label for="game-record-loss" id=>Loss:</label>
            <input type="number" id="game-loss" name="game_loss" required><br>

            <input type="submit" value="Submit">
        </form>
        <script type='text/javascript' src="{{ url_for('static', filename='js/function.js') }}"> </script>
    </body>
</html>