<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spark</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body> 
        <div class="nav-bar">
          <button onclick="window.location.href='/'">Home</button>
          <button onclick="window.location.href='/create-deck'">Create Deck</button>
        </div>
        <ul>
            <!-- <li>{{deck['deck_name']}}</li>
            <li>{{deck['deck_score']}}</li>
            {% if deck['record']['win'] and deck['record']['loss']%}
                <li>win(s): {{deck['record']['win']}} loss: {{deck['record']['loss']}}</li>
            {% else %}
                <li>No Games Registered With This Deck</li>
            {% endif %} -->
        <script type='text/javascript' src="{{ url_for('static', filename='js/function.js') }}"> </script>
        {{deck}}
        {{record}}
    </body>
</html>