<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spark</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body> 
      <nav class="navBar">
        <div class="navContainer">

          <div id="right-container">
            {% if loggedin %}
            <button onclick="window.location.href='/create-deck'">Create Deck</button>
            <button onclick="window.location.href='/create-game'">Create Game</button>
            {% endif %}
          </div>
          <div id="left-container">
            {% if loggedin %}
            <button onclick="return logout(this);" id="logout">Log Out</button>
            {% endif %}
          </div>
          {% if not loggedin %}
          <div id="left-container">
            <button onclick="window.location.href='/login'" id="login">Log In</button>
          </div>
          {% endif %}
        </div>
      </nav>
      <div id="login-container">        
        <ul id="login-form">
            <li>{{deck['deck_name']}}</li>
            <li>{{deck['deck_score']}}</li>
            {% if deck['win'] or deck['loss'] %}
                <li>win(s): {{deck['win']}} loss: {{deck['loss']}}</li>
            {% else %}
                <li>No Games Registered With This Deck</li>
            {% endif %}
        </ul>
      </div>
    <script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>