<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spark</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body> 
      <div class="root home">
        <div class="navContainer mobile">
          <nav class="navBar">
              <a href="/" id="title">Spark</a>
              <div id="link-container">
                <div id="utility-container">
                  {% if loggedin %}
                  <a class="links" href="/create-game">Create Game</a>
                  <a class="links" href="/create-deck">Create Deck</a>
                  <a class="links" href="/decks">View Decks</a>
                  {% endif %}
                </div>
                <div id="user-container">
                  {% if loggedin %}
                  <a class="links" onclick="return logout(this);" id="logout">Log Out</a>
                  {% endif %}
                </div>
                {% if not loggedin %}
                <div id="user-container">
                  <a class="links" href="/login" id="login">Log In</a>
                </div>
                {% endif %}
              </div>
              <a href="javascript:void(0);" class="icon" onclick="return displayMenu(this)">
                <i class="fa fa-bars"></i>
              </a>
          </nav>
        </div>
        <div class="navContainer web">
          <nav class="navBar">
                <div id="utility-container">
                  <a href="/" id="title">Spark</a>
                  {% if loggedin %}
                  <a class="links" href="/create-game">Create Game</a>
                  <a class="links" href="/decks">View Decks</a>
                  {% endif %}
                </div>
                <div id="user-container">
                  {% if loggedin %}
                  <a class="links" onclick="return logout(this);" id="logout">Log Out</a>
                  {% endif %}
                </div>
                {% if not loggedin %}
                <div id="user-container">
                  <a class="links" href="/login" id="login">Log In</a>
                </div>
                {% endif %}
          </nav>
        </div>
        <div class="intro container">
          <div class="header" id="logo">
            <span>Spark</span>
          </div>   
          <div class="search container separator">
              <input type="text" id="search-input" {% if loggedin %} placeholder="Search Your Decks or Users" {% else %} placeholder="Search Users" {% endif %} oninput="return populateSearch(this);"/>
              <div class="result container">
                {% if loggedin %}
                <div id="deck-results">
                  <div id="header">
                    <p>Deck(s)</p>
                  </div>
                </div>
                {% endif %}
                <div id="user-results">
                  <div id="header">
                    <p>User(s)</p>
                  </div>
                  <ul id="user-list">
                  </ul>
                </div>
            </div>
          </div>
        </div>
      <div class="main container games"> 
        <div class="name container">
          <span id="name">On Going Games</span>
        </div>
        <div class="cardsContainer">
        </div>
      </div>
      <div class="main container decks"> 
        <div class="name container">
          <span id="name">Top Decks</span>
        </div>
        <div class="cardsContainer">
        </div>
      </div>
      <script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>