<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spark</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body> 
      <nav class="navBar">
        <div class="navContainer">
          <div id="right-container">
            <a href="/">Spark</a>
            {% if loggedin %}
            <a href="/create-deck">Create Deck</a>
            <a href="/create-game">Create Game</a>
            <a href="/decks">View Decks</a>
            {% endif %}
          </div>
          <div id="left-container">
            {% if loggedin %}
            <a onclick="return logout(this);" id="logout">Log Out</a>
            {% endif %}
          </div>
          {% if not loggedin %}
          <div id="left-container">
            <a href="/login" id="login">Log In</a>
          </div>
          {% endif %}
        </div>
      </nav>
      <div id="container"> 
          <div class='banner-container'>
            <h1>SPARK</h1>
          </div>      
          <div id="search-container">
              <input type="text" id="search-input" {% if loggedin %} placeholder="Search Your Decks or Users" {% else %} placeholder="Search Users" {% endif %} oninput="return populateSearch(this);"/>
              <div id="result-container">
                <div id="deck-results">
                  {% if decks %}
                  <div id="header">
                    <p>Deck(s)</p>
                  </div>
                  {% endif %}
                  <ul id="deck-list">
                    {% for deck in decks %}
                    <div id="individual-result-container">
                      <li>
                        <a href="/deck/{{deck['deck_id']}}" id="deck-{{deck['deck_id']}}">{{deck['deck_name']}}</a>
                      </li>
                    </div>
                    {% endfor %}
                  </ul>
                </div>
                <div id="user-results">
                  <div id="header">
                    <p>User(s)</p>
                  </div>
                  <ul id="user-list">
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>