<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spark</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body> 
      <nav class="navBar">
        <div class="navContainer">

          <div id="right-container">
            {% if loggedin %}
            <button onclick="window.location.href='/create-deck'">Create Deck</button>
            <button onclick="window.location.href='/create-game'">Create Game</button>
            {% endif %}
          </div>
          <div id="left-container">
            {% if loggedin %}
            <button onclick="return logout(this);" id="logout">Log Out</button>
            {% endif %}
          </div>
          {% if not loggedin %}
          <div id="left-container">
            <button onclick="window.location.href='/login'" id="login">Log In</button>
          </div>
          {% endif %}
        </div>
      </nav>
      <div id="login-container">        
        <form id='login-form' onsubmit="return submitGame(this)">
            <label for="deck-name">Deck</label>
            <select id="deck-selector" name="deck_name">
                {% for deck in decks %}
                <option value="deck-{{deck['deck_id']}}" id="deck-{{deck['deck_id']}}">{{deck['deck_name']}}</option>
                {% endfor %}
            </select>
            <label for="game-record-win" id=>Win:</label>
            <input type="number" id="game-win" name="game_win" required><br>
  
            <label for="game-record-loss" id=>Loss:</label>
            <input type="number" id="game-loss" name="game_loss" required><br>

            <input type="submit" value="Submit">
        </form>
      </div>
    <script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>